@page "/"
@inject IJSRuntime JS
@inject NavigationManager Navigation

<h3>Login</h3>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" @bind="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" @bind="password">
    </div>

    <select class="form-select" aria-label="Default select example">
        <option selected>Select the currency type.</option>
        <option value="1">Nepali</option>
        <option value="2">US</option>
        <option value="3">Pound</option>
    </select>

    <br />

    <button type="button" class="btn btn-primary" @onclick="SubmitForm">Submit</button>
</form>

<NavLink class="nav-link" href="signinpage" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Go to register page.
</NavLink>

<script>
    function showAlertAndReload(message) {
        alert(message); // Display the custom message in the alert box
        location.reload(); // Reload the page
    }

    function showAlertLoginSuccessd(message) {
        alert(message); // Display the custom message in the alert box
    }
</script>

@code {
    string email = "";
    string password = "";

    // Method to handle form submission
    private async Task SubmitForm()
    {
        if (string.IsNullOrWhiteSpace(email))
        {
            await JS.InvokeVoidAsync("showAlertAndReload", "Enter email and try again.");
            return;
        }

        if (string.IsNullOrWhiteSpace(password))
        {
            await JS.InvokeVoidAsync("showAlertAndReload", "Enter password and try again.");
            return;
        }

        await JS.InvokeVoidAsync("showAlertLoginSuccessd", "Login Success.");
        await JS.InvokeVoidAsync("console.log", "login success");
        Navigation.NavigateTo($"/userhome?email={email.ToLower()}");
    }
}
